.hero-img {
    background: url('/img/hero-2.png') no-repeat bottom center;
    background-size: contain;
    height: 500px;
}

.section-container {padding: 100px 15px}

#about, #form {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

.media-center {max-width: 50%}

footer {
    background-color: #333;
    color: white;
}

@media only screen and (max-width: 990px) {
    .media-center {
        padding-top: 30px;
        max-width: 100%;
    } 
}