.logo {
    width: 40%;
}

.nav-item {
    padding: 10px;
}

.jumbotron {
    background-color: white;
}

.section-container {
    padding: 100px 15px;
}

#about, #form {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

textarea {
    height: 200px;
}


footer {
    background-color: #333;
    padding: 15px;
    color: white;
}


@media only screen and (max-width: 990px) {
    .media-center {
        text-align: center;
        padding-top: 30px;
    }
}

@media only screen and (max-width: 624px) { 
    iframe {
        width: 340px;
        height: 189px;
    }
}